# Ignore data folder
data/

# Ignore models
models/
spare_models/

# Ignore datasets folder
datasets/

# Ignore frames folder
frames/

# Ignore keypoints
keypoints/
keypoints_aug/
keypoints_aug_50/
keypoints_aug_50/train/
keypoints_aug_50/val/
keypoints_aug_100/
keypoints_aug_150/
keypoints_aug_200/

# Ignore virtual environment
venv/

# Ignore CTC synth sentences
synthetic_sentences_50/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store