# Ignore data folder
data/

# Ignore datasets folder
datasets/

# Ignore frames folder
frames/

# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store
